@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background: #fffef2;
  // overscroll-behavior-y: none;
  // overscroll-behavior-x: none;
  // overflow: hidden;
  // background: red;
  // width: 100%;
  // height: 100%;
}

button,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  color: #040404;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body.loading {
  overflow: hidden;
  height: 100vh;
}

.loader {
  .loader-inner {
    .image-block {
      transform-origin: center;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      &.image-2 {
        left: 1%;
        bottom: 2%;
      }
      &.image-6 {
        left: 3%;
        bottom: 10%;
      }
      &.image-7 {
        left: -3%;
        bottom: 5%;
      }
      &.image-9 {
        left: 2%;
        bottom: -4%;
      }
      &.image-10 {
        left: 4%;
        bottom: 1%;
      }
      img,
      source {
        width: 100%;
        object-fit: fill;
      }
    }
    .second-image-block {
    }
  }
}

.transition-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 800px;
    display: flex;
  }
  &.final {
    display: block;
    top: -128px;
    position: relative;
    width: 90%;
    margin: 0 auto;
    z-index: -100;
    @media (max-width: '500px') {
      top: -56px;
    }
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}

.left-panel-background,
.right-panel-background {
  height: 100vh;
  width: 50vw;
  position: absolute;
  z-index: 100;
  background: rgb(233, 232, 221);
}

.right-panel-background {
  right: 0;
  background: rgb(233, 232, 221);
}

.link {
  position: relative;

  &:after,
  &::before {
    position: absolute;
    top: 0;
    opacity: 0;
    // transition: opacity 0.3s ease-in-out;
    // transition-delay: 0s;
  }
  &:after {
    content: '(';
    left: -10px;
  }
  &:before {
    content: ')';
    right: -10px;
  }
}

.link:hover {
  &:after,
  &:before {
    opacity: 1;
    // transition-delay: 0.3s; // the time element must come after hover
  }
}

//

.container {
  // overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, 0); // so its centerd
  width: 200%;
  height: auto;
  transition: 1.3s ease-out;
  transform-style: preserve-3d;
  display: flex;
  will-change: transform;
}

.column {
  position: relative;
  flex: 25%;
  gap: 100px;
}

.img {
  width: 100%;
  filter: grayscale(100%);
}

.shit {
  width: 200%;
  background: red;
}

// img {
//   width: 100px;
// }
.second {
  transform: translateX(500px);
}
